<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1> Chitralekha Chikku </h1>
      <h2> About Me </h2>
      <p>
        I'm from Hyderabad, India. I have completed my bachelor's degree in Electronics and Communication Engineering from Sri Indu college of Engineerig and Technology.
        Some of my hobbies are listening music, reading novels,Painting,watching movies and travelling. 
        My short term goal is to complete my graduation with good grades and my long term goal is to pursue career opportunity in the fields of 
        Data Science
        Machine Learning
        Database Management
<br>
       https://github.com/chitralekhach
 <br>
       https://bitbucket.org/cchitra/
       </p>

      <br>
      <br>
    </div>
  </div>
</div>